@model List<Product>

<div>
    <a asp-controller="Products" asp-action="Create" class="btn btn-primary">
        Create Product
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <td>Product Type</td>
                <td>Manufacturer</td>
                <th>Unit of Measure</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.Quantity</td>
                    <td>
                        @product.ProductType?.Name
                    </td>
                    <td>
                        @product.Manufacturer?.Name
                    </td>
                    <td>
                        @product.UnitOfMeasure?.Name
                    </td>
                    <td>
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-secondary">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>