@model List<ProductManufacturer>

    <div>
        <a asp-controller="ProductManufacturers" asp-action="Create" class="btn btn-primary">
            Create ProductManufacturer
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Adress</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Rating</th>
                    <th>Actions</th>

                    <tbody>
                        @foreach (ProductManufacturer productManufacturer in Model)
                    {
                        <tr>
                            <td>@productManufacturer.Id </td>
                            <td>@productManufacturer.Name</td>
                            <td>@productManufacturer.Adress</td>
                            <td>@productManufacturer.City</td>
                            <td>@productManufacturer.Country</td>
                            <td>@productManufacturer.Rating</td>
                            <td>
                                <a asp-controller="ProductManufacturers" asp-action="Edit" asp-route-id="@productManufacturer.Id" class="btn btn-secondary">

                                    Edit

                                </a>
                            </td>
                        </tr>
                    }
                    
                    </tbody>

                </tr>
            </thead>
        </table>
    </div>
