@model ProductCategoryViewModel

<div>
    <form asp-controller="ProductCategories" asp-action="Create">
        <input type="hidden" asp-for="@Model.ProductCategory.ProductId" />

        <div class="mb-3">
            <label asp-for="@Model.ProductCategory.CategoryId" class="form-label">
                Category
            </label>
            <select asp-for="@Model.ProductCategory.CategoryId" class="form-control">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">
                        @category.Name
                    </option>
                }
            </select>
        </div>

        <div class="d-flex justify-content-end">
            <a asp-controller="ProductCategories" asp-action="Index" asp-route-productId="@Model.ProductCategory..ProductId" class="btn btn-secondary me-2">
                Cancel
            </a>

            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>