@model ProductColorViewModel

<div>
    <form asp-controller="ProductColors" asp-action="Create">
        <input type="hidden" asp-for="@Model.ProductColor.ProductId" />

        <div class="mb-3">
            <label asp-for="@Model.ProductColor.ColorId" class="form-label">
                Color
            </label>
            <select asp-for="@Model.ProductColor.ColorId" class="form-control">
                @foreach (var color in Model.Colors)
                {
                    <option value="@color.Id">
                        @color.Name
                    </option>
                }
            </select>
        </div>

        <div class="d-flex justify-content-end">
            <a asp-controller="ProductColors"
               asp-action="Index" asp-route-productId="@Model.ProductColor.ProductId"
               class="btn btn-secondary me-2">
                Cancel
            </a>

            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>