@model List<ProductType>

<div>
    <a asp-controller="ProductTypes" asp-action="Create" class="btn btn-primary">
        Create ProductType
    </a>
        
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
            </tr>
        </thead>

        <tbody>
            @foreach (ProductType productType in Model)
            {
                <tr>
                    <td>@productType.Id</td>
                    <td>@productType.Name</td>
                    <td>@productType.Description</td>
                    <td>@productType.UnitPrice</td>
                    <td>@productType.Quantity</td>
                    <td>
                        <a asp-controller="ProductTypes" asp-action="Edit" asp-route-id="@productType.Id" class="btn btn-secondary">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>